<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>

    <div class="side-div">
        <h1>Easy Buy</h1>
            <div class="link"><a href="/"><i class="fa-solid fa-house"></i>  Home</a></div>
            <div class="link"><a href="/create"><i class="fa-solid fa-plus"></i>  Create</a></div>
            <div class="link"><a href="/edit"><i class="fa-solid fa-pen-to-square"></i> Update/Delete</a></div>
    </div>

    <div class="main-div">

        <div class="sd">
            <form action="/edit" method="post">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" name="parameter" placeholder="Search for products">
            <button type="submit" name="save" value="search">Search</button>
            </form>
        </div>

    <div class="flex-container">
        <%for(i=(load.length-1);i>=0;i--){%>
        <div class="flex-box">
            <img src="ecom.jpg" />

            <div class="info">
            <h3><%=load[i].NAME%></h3>
            <small><%=load[i].PRICE%>$</small>
            <p>Available: <%=load[i].AVAILABLE%></p>
            </div>

            <form id="hide" action="/edit" method="post">
                <input type="text" value="<%=load[i].NAME%>" name="fname" style="display: none;" /><br>
                <input type="text" value="<%=load[i].NAME%>" name="name" /><br>
                <input type="text" value="<%=load[i].PRICE%>" name="price" /><br>
                <input type="text" value="<%=load[i].AVAILABLE%>" name="available" /><br>
                
            <button id="delete" name="save" value="delete">Delete</button><button id="update" name="save" value="update">Update</button>
            </form>
            <button id="edit"><i class="fa-solid fa-pen-to-square"></i></button>
        </div>
        <%}%>
    </div>

    </div>

<script>
    document.querySelectorAll('#hide').forEach((e) => {
        e.classList.add("disappear");
    })

    document.querySelectorAll("#edit").forEach((e) => {
        var count = 0;
            e.addEventListener("click", () => {
                if(count == 0){
                    document.querySelectorAll('.info').forEach((e) => {e.classList.add("disappear");})
                    document.querySelectorAll('#hide').forEach((e) => {e.classList.remove("disappear");})
                    count = count + 1;
                }else{
                    document.querySelectorAll('.info').forEach((e) => {e.classList.remove("disappear");})
                    document.querySelectorAll('#hide').forEach((e) => {e.classList.add("disappear");})
                    count = count - 1;
                }
            });

});
</script>
<script src="https://kit.fontawesome.com/8522f483a0.js" crossorigin="anonymous"></script>
</body>
</html>